.publishing-links-page-layout {
  background: #3c2b84;
  height: 100%;
  overflow: auto;
  border: solid 1px #472ca7;
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.publishing-links-page-title {
  padding: 0.5rem;
  font-size: 18px;
  font-weight: bold;
}

.publishing-links-controls-panel {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.publishing-links-items-layout {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0.5rem;
}

.publishing-links-items-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0.5rem;
  overflow: auto;
  max-height: 600px;
}

.publishing-links-item {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 0.5rem;
  max-width: 1000px;
  background: #3c2b84;
  border-radius: 5px;
  border: solid 1px #5733cf;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.publishing-link-item-link {
  font-size: 13px;
  font-weight: bold;
  color: yellow;
}

.publishing-link-item-service {
  font-size: 13px;
  font-weight: bold;
  color: #50ff5e;
}
