<section class="parsing-service-data-layout">
    <div class="controls-row">
        <app-red-button [label]="'Удалить все'" (onClicked)="deleteAll()"></app-red-button>
        <app-red-button [label]="'Кешировать все'" (onClicked)="cacheAll()"></app-red-button>
    </div>
    <div class="parsing-service-content-layout">
        <app-parsing-service-data-item *ngFor="let advertisement of advertisements()"
                                       [advertisement]="advertisement"
                                       (removeClicked)="handleDeletion($event)"
                                       (removeAndCacheClicked)="handleCaching($event)"
                                       (openInBrowserRequested)="handleOpenInBrowser($event)">
        </app-parsing-service-data-item>
    </div>
    <app-parsing-data-pagination *ngIf="advertisements().length > 0"
                                 [service]="plugin"
                                 [pageSize]="pageSize"
                                 (currentPageChanged)="handlePageChangedEvent($event)">
    </app-parsing-data-pagination>
</section>
<app-notification *ngIf="notifications.isVisible"></app-notification>