.progress-bar-container {
  background: #24194d;
  border: solid 2px #24194d;
}

.progress-bar {
  height: 12px;
  width: 0;
}
.progress-bar.finish {
  background: #c5c8ff;
  box-shadow: 10px 10px 10px -20px #c5c8ff;
  border: solid 2px #c5c8ff;
}
.progress-bar.half {
  background: #a2a4ff;
  box-shadow: 10px 10px 10px -20px #a2a4ff;
  border: solid 2px #a2a4ff;
}
.progress-bar.start {
  background: #867dfc;
  box-shadow: 10px 10px 10px -20px #867dfc;
  border: solid 2px #867dfc;
}
