<section class="advertisement-data-item-layout">
    <div class="advertisement-data-item-short-info">
        <label>Краткая информация:</label>
        <label>ID: {{ advertisement.id }}</label>
        <label>Автор: {{ advertisement.publisher }}</label>
        <label>Дата парсинга: {{ advertisement.parsedDate }}</label>
        <label>Дата публикации: {{ advertisement.publishDate }}</label>
        <div class="sub-controls-wrapper">
            <app-primary-button [label]="'Раскрыть текст'" (onClicked)="manageText()"></app-primary-button>
        </div>
    </div>
    <div class="advertisement-data-controls">
        <label>Управление:</label>
        <app-red-button [label]="'Удалить'" (onClicked)="removeClick()"></app-red-button>
        <app-red-button [label]="'Кэшировать'" (onClicked)="cacheClick()"></app-red-button>
        <app-primary-button [label]="'Сохранить'" (onClicked)="saveAsFile()"></app-primary-button>
        <app-primary-button [label]="'Источник'" (onClicked)="openInBrowserClick()"></app-primary-button>
    </div>
    <div class="advertisements-image-viewer" *ngIf="advertisement.imageLinks.length > 0">
        <img class="advertisement-image" *ngFor="let item of advertisement.imageLinks" [src]="item">
    </div>
    <div class="no-photo-wrapper" *ngIf="advertisement.imageLinks.length == 0">
        <label>У объявления нет фотографий</label>
    </div>
</section>
<div *ngIf="isShowText" class="data-item-text-info">
    {{ advertisement.content }}
</div>